asgiref==3.8.1 ; python_version >= "3.13"
asttokens==3.0.0 ; python_version >= "3.13"
colorama==0.4.6 ; python_version >= "3.13" and sys_platform == "win32"
decorator==5.1.1 ; python_version >= "3.13"
django-extensions==3.2.3 ; python_version >= "3.13"
django==5.1.6 ; python_version >= "3.13"
djangorestframework-simplejwt==5.4.0 ; python_version >= "3.13"
djangorestframework==3.15.2 ; python_version >= "3.13"
drf-yasg==1.21.8 ; python_version >= "3.13"
executing==2.2.0 ; python_version >= "3.13"
inflection==0.5.1 ; python_version >= "3.13"
ipython==8.32.0 ; python_version >= "3.13"
jedi==0.19.2 ; python_version >= "3.13"
matplotlib-inline==0.1.7 ; python_version >= "3.13"
packaging==24.2 ; python_version >= "3.13"
parso==0.8.4 ; python_version >= "3.13"
pexpect==4.9.0 ; python_version >= "3.13" and (sys_platform != "win32" and sys_platform != "emscripten")
prompt-toolkit==3.0.50 ; python_version >= "3.13"
ptyprocess==0.7.0 ; python_version >= "3.13" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.13"
pygments==2.19.1 ; python_version >= "3.13"
pyjwt==2.10.1 ; python_version >= "3.13"
pytz==2025.1 ; python_version >= "3.13"
pyyaml==6.0.2 ; python_version >= "3.13"
sqlparse==0.5.3 ; python_version >= "3.13"
stack-data==0.6.3 ; python_version >= "3.13"
traitlets==5.14.3 ; python_version >= "3.13"
tzdata==2025.1 ; python_version >= "3.13" and sys_platform == "win32"
uritemplate==4.1.1 ; python_version >= "3.13"
wcwidth==0.2.13 ; python_version >= "3.13"
